@model IEnumerable<Probando.Models.Pago>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boleta_factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_neto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_final)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anulada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_reservas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boleta_factura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_neto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_final)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anulada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_reservas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
