@model IEnumerable<Probando.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Crear un nuevo Cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <b> @Html.DisplayNameFor(model => model.id_cliente)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.personaCliente.rut)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.personaCliente.nombre)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.personaCliente.paterno)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.personaCliente.materno)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.personaCliente.direccion)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.personaCliente.telefono)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.personaCliente.telefono2)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.personaCliente.usuario)</b>
        </th>
        <th>
            <b>@Html.DisplayNameFor(model => model.personaCliente.e_mail)</b>
        </th>
        <th><b>Editar Cliente</b></th>
        <th><b>Detalles</b></th>
        <th><b>Borrar Cliente</b></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id_cliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.personaCliente.rut)-@Html.DisplayFor(modelItem => item.personaCliente.digito_verificador)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.personaCliente.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.personaCliente.paterno)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.personaCliente.materno)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.personaCliente.direccion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.personaCliente.telefono)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.personaCliente.telefono2)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.personaCliente.usuario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.personaCliente.e_mail)
    </td>
    <td>@Html.ActionLink("Editar Cliente", "Edit", new { id = item.id_cliente })</td>
    <td>@Html.ActionLink("Detalles", "Details", new { id = item.id_cliente })</td>
    <td>@Html.ActionLink("Eliminar Cliente", "Delete", new { id = item.id_cliente })</td>
</tr>
}

</table>
