@model Probando.Models.Proveedor

@{
    ViewBag.Title = "Details";
}

<<<<<<< HEAD
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles</title>
</head>
<body>
    <div>
        <h4>Proveedor</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.id_proveedor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.id_proveedor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.rubro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.rubro)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefono)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.e_mail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.e_mail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.activo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.activo)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Regresar", "Index") |
        @Html.ActionLink("Editar", "Edit", new { id = Model.id_proveedor })

    </p>
</body>
</html>
=======
<h2>Detalles</h2>

<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_proveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_proveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rubro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rubro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.e_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.id_proveedor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
>>>>>>> ea951eed15387fb416524604346dda8b75fb6f2f
